<div class="container">
    <div class="header">
        <button class="button" (click)="onClick()"> X
        </button>
    </div>
    <div class="columns">
        <div class="column">
            <p>{{assignment.title}}</p>
            <p>{{assignment.description}}</p>
             <form [formGroup]="courseAssignmentForm" (ngSubmit)="submitModalForm(courseAssignmentForm.value)" >
                <label class="label" for="assigned_on">Assign on:</label>
                <input  class="input" type="date" formControlName="assigned_on" placeholder="assigned on date">
                <br>
                <br>
                <label class="label" for="due_on">Assign on:</label>
                <input  class="input" type="date" formControlName="due_on" placeholder="due on date">
                <br>
                <br>
                 <button [disabled]="!courseAssignmentForm.valid" class="button" type="submit">
                    Add Assignment to Program
                </button>
                <br>
            </form>
        </div>
        <div class="column">
            <img src="../../../assets/icon4.png" alt="course icon" />
        </div>
    </div>
</div>