<section class="section is-medium" *ngIf="status != 'loading'; else loading">
    <h1 class="title">{{courseAssignment.title}}</h1>
    <h2 class="subtitle">{{courseAssignment.description}}</h2>
    <p>Assigned on: {{courseAssignment.assignedOn | date}}</p>
    <p>Due on: {{courseAssignment.dueOn | date}}</p>
    <br>
    <div class="container">
        <div class="columns is-tablet">
            <div class="column">
                <button class="button is-success is-responsive" (click)="navigateToCourseAssignments()">Return to Assignments</button>
            </div>
            <div class="column">
                <button class="button is-success is-responsive" (click)="navigateHome()">Return to Home</button>
            </div>
            <div class="column">
                <button class="button is-warning is-responsive">Edit Assignment</button>
            </div>
        </div>
    </div>
</section>

<ng-template #loading>
    <section class="section is-medium">
        <br>
        <span class="loader"></span>
    </section>
</ng-template>
