<div class="container">
  <div class="subtitle">
    <p
    [routerLink]="['/programs', program_id]">Assignments</p>
    <fa-icon [icon]="faEllipsisVertical"></fa-icon>
  </div>
  <div *ngIf="status != 'loading'; else loading">
    <app-program-assignment
      [routerLink]="['assignments', programAssignment.id]"
      *ngFor="let programAssignment of programAssignmentsArray"
      [programAssignment]="programAssignment"
    ></app-program-assignment>
    <button class="button" (click)="toggleModal()">
      Add an Assignment to this Program
    </button>
  </div>
  <ng-template #loading>
    <br />
    <span class="loader"></span>
  </ng-template>
</div>
