<section class="section">
  <h2 class="title box">{{ courseAssignmentsArray[0].course_name }}'s Class</h2>
  <div class="assignment-tile columns">
    <div class="assignment-tile column is-one-quarter">
      <a class="titles">
        <p>Assignments</p>
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </a>
      <a class="titles">
        <p>Programs</p>
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </a>
    </div>
    <div class="column is-three-quarters">
      <div class="searchArea">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <input
          type="text"
          class="input"
          placeholder="Search existing assignments in {{
            courseAssignmentsArray[0].course_name
          }}'s class"
          (input)="handleCourseAssignmentSearch($event)"
        />
      </div>
      <div *ngIf="status != 'loading'; else loading">
        <app-course-assignment
          *ngFor="let courseAssignment of courseAssignmentsArray"
          [courseAssignment]="courseAssignment"
        ></app-course-assignment>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <br />
    <span class="loader"></span>
  </ng-template>
</section>
