<section>
    <div class="columns">
        <div class="column is-one-quarter">
            <p>list of assignments</p>
        </div>
        <div class="column is-three-quarters">
            <p>Search area</p>
            <p>Grid of assignment cards</p>
        </div>
    </div>
    <br>
    <button class="button" (click)="toggleModal()">Add an Assignment to this Program</button>

    <app-create-assignment-modal [program_id]="program.id" [showModal]="showCreateAssignmentModal" (modalBtnClick)="closeModal()" *ngIf="showCreateAssignmentModal"></app-create-assignment-modal>
</section>
