<div class="card">
  <header class="card-header">
    <p style="color: white" class="card-header-title">
      {{ course.name }}
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="searchbardiv container">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    <input
      (input)="handleSearch($event)"
      class="input"
      type="text"
      placeholder=" Search Assignments"
    />
  </div>
  <div class="card-content">
    <div class="content">
      <div class="columns">
        <div class="column is-three-quarters">
          <app-course-assignment-details
            *ngFor="let courseAssignment of courseAssignmentsArray"
            [courseAssignment]="courseAssignment"
            (click)="selectCourseAssignment(courseAssignment.id)"
          >
          </app-course-assignment-details>
        </div>
        <div class="column is-one-quarter">
          <a (click)="handleClick()">
            <fa-icon [icon]="faPencil"></fa-icon>
            Assignments
          </a>
          <br />
          <a href="#">
            <fa-icon [icon]="faUserGroup"></fa-icon>
            Students & Groups</a
          >
          <br />
          <a href="#">
            <fa-icon [icon]="faChartColumn"></fa-icon>
            Data</a
          >
          <br />
          <a (click)="this.showProgramDropdown = !this.showProgramDropdown">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            Programs
            <fa-icon [icon]="faCaretDown"></fa-icon>
          </a>
          <br />
          <div *ngIf="showProgramDropdown === true" class="dropdown is-active">
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div *ngFor="let program of course.programs">
                  <a class="dropdown-item" (click)="selectProgram(program.id)">
                    {{ program.name }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
