<div class="assignment-container columns" (click)="selectCourseAssignment()">
  <span class="course-assignment-title column">
    <div class="img-container">
      <img
        src="/assets/icon{{ iconNumber }}.png"
        alt="course-assignment thumbnail"
      />
    </div>
    {{ courseAssignment.title }}</span
  >
  <span class="course-assignment-date column">
    <p>Assigned {{ courseAssignment.assignedOn | date: "shortDate" }}</p>
    <p>Due {{ courseAssignment.dueOn | date: "shortDate" }}</p>
  </span>
  <fa-icon [icon]="faEllipsisVertical"></fa-icon>
</div>
