<div class="container">

    <header class="header">
        <h1 class="">Edit this Assignment ({{courseAssignment.course_name}})</h1>
        <button (click)="handleCloseEditModal()"class="button">
            <fa-icon [icon]="faXmark"></fa-icon>

        </button>
    </header>

    <div >
        <form [formGroup]="editForm" (ngSubmit)="submitEditForm(editForm.value)">
            <label for="">Assigned on:</label>
            <input type="date" formControlName = "assignedOn">
            <label for="">Due on:</label>
            <input type="date" formControlName="dueOn">
            <button class="button" type="submit">Submit</button>
        </form>

        <button (click)="handleDelete(courseAssignment)" class=button>Delete This Assignment</button>
    </div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam rem quia magnam minus mollitia. Exercitationem necessitatibus possimus facilis laudantium in, porro doloremque delectus velit, explicabo excepturi amet, eveniet ea dignissimos.</p>
</div>



